.productModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.41);
}
.productModalContainer {
  max-height: 100%;
  max-width: 100%;
  background: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  gap: 15px;
}
.productModalText {
  margin: 0;
  padding: 0;
  font-weight: 800;
}
.productModalButton {
  min-width: 100px;
  padding: 18px 20px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 18px;
  background: transparent;
  text-align: center;
  color: black;
}
.productModalButton[disabled] {
  opacity: 0.5;
}
.productModalButtonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.productModalImage {
  width: 60%;
}
.loadingModal {
  width: 100vw;
  min-height: 400px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.productSizeChip {
  padding: 8px 15px;
  border-radius: 4px;
  border: 6px solid transparent;
  font-size: 18px;
  text-align: center;
  color: white;
}
.inProd {
  border-color: orange;
  color: orange;
  opacity: 0.7;
}

.inStock {
  border-color: #7d7;
  color: #7d7;
  opacity: 0.7;
}

.inOrder {
  color: #003f80;
  border-color: #003f80;
  opacity: 0.7;
}
.productSizeChipActive.inStock {
  background: #7d7;
  color: white;
}
.productSizeChipActive.inProd {
  background: orange;
  color: white;
}
.productSizeChipActive.inOrder {
  background: #003f80;
  color: white;
}
.productModalSizes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.productModalColors {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}
.disableProductModalWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.41);
}

.disableProductModal {
  background: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.disableProductModalText {
  font-size: 24px;
  text-align: center;
}
.productRestricted {
  border-color: red;
  color: red;
  opacity: 1;
}
.linkWhatsApp {
  display: block;
}
